<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carlos_hc.dogdate">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dogdatelogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/dogdatelogo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".MiPerfil" android:screenOrientation="portrait"/>
        <activity android:name=".ListaMatchs" android:screenOrientation="portrait"/>
        <activity android:name=".EditarPerfil" android:screenOrientation="portrait"/>
        <activity android:name=".MessageListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".RespuestaMatchs" android:screenOrientation="portrait" android:noHistory="true"></activity>
    </application>

</manifest>